<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/default.css">
</head>
<body>
<div id="container">
	<h1>[ 회원정보 수정 ]</h1>
	<form th:action="@{/update}" th:method="post" th:object="${member}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p class="field-error" th:each="err : ${#fields.globalErrors()}" 
			th:text="${err}">
		</div>
		<table>
			<tr>
				<th>아이디</th>
				<td>
					<input type="text" th:field="*{id}" disabled="disabled">
					<div th:errorClass="field-error" th:errors="*{id}"></div>
					</td>
			</tr>
			<tr>
				<th>패스워드</th>
				<td><input type="password" th:field="*{password}"></td>
			</tr>
			<tr>
				<th>이름</th>
				<td>
					<input type="text" th:field="*{name}">
					<div th:class="field-error" th:errors="*{name}"></div>
				</td>
			</tr>
			<tr>
				<th>성별</th>
				 <td>
				 	<span th:each="gender : ${genderTypes}">
				 		<input type="radio" th:field="*{gender}" th:value="${gender.name()}">
				 		<label th:for="${#ids.prev('gender')}" th:text="${gender.description}"></label>	 
				 	</span>
				 	<div class="field-error" th:errors="*{gender}"></div>
				 </td>
			</tr>	
			<tr>
				<th>생년월일</th>
				<td>
					<input type="date" th:field="*{birth}">
					<div class="field-error" th:errors="*{birth}"></div>	
				</td>
			</tr>
			<tr>
				<th>취미</th>
				<td>
					<span th:each="hobby : ${hobbies}">
						<input type="checkbox" th:field="*{hobbies}" th:value="${hobby.key}">
						<label th:for="${#ids.prev('hobbies')}" th:text="${hobby.value}"></label>
					</span>
				</td>
			</tr>
			<tr>
				<th>도시</th>
				<td>
					<select th:field="*{city}">
						<option value="">도시를 선택하세요</option>
						<option th:each="cityCode : ${cityCodes}"
								th:value="${cityCode.code}"
								th:text="${cityCode.displayName}"></option>
					</select>
				</td>
			</tr>
		</table>
		<input type="hidden" th:field="*{id}">
		<p>
		<div class="center">
			<input type="button" onclick="location.href='/'" value="목록으로">
			<input type="submit" value="수정하기">
			<input type="reset" value="취소">
		</div>
	</form>
</div>
</body>
</html>










